<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <!-- Boxican Css -->
    <link rel="stylesheet" href="../static/assets/css/boxicons.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../static/assets/css/meanmenu.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <!-- Owl Theme CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.theme.default.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.min.css">
    <!-- Jquery Datetimepicker CSS -->
    <link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.min.css" />
    <!-- Styleshet CSS -->
    <link rel="stylesheet" href="../static/assets/css/style1.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/assets/css/responsive.css">
    <!-- Favican -->
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">

    <title>FSquare: COVID-19 rumours impacts on VIC's elders</title>
</head>

<body>
{% include 'nav.html' %}

{% block navi %}
{% endblock %}

<!-- Page Banner Area -->
<div class="page-banner-area bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-content">
                    <h2>About</h2>
                    <ul>
                        <li style="font-size:22px" ><a href="/">Home</a></li>
                        <li style="font-size:22px" >About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->

<!-- About Area -->
<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <div class="main-img">
                        <img src="../static/assets/img/about/about-1.jpg" alt="Image">
                        <div class="shape-1">
                            <img src="../static/assets/img/shapes/shape-3.png" alt="Shape">
                        </div>
                        <div class="shape-2">
                            <img src="../static/assets/img/shapes/shape-3.png" alt="Shape">
                        </div>
                        <div class="shape-3">
                            <img src="../static/assets/img/shapes/shape-4.png" alt="Shape">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title-two">
                        <span>About us</span>
                        <h2>what this website does</h2>
                          <p>detailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetails</p>
                    </div>

                    <ul>
                        <li>
                            <i class='bx bx-bone'></i>
                            point1
                        </li>
                        <li>
                            <i class='bx bx-heart'></i>
                            point2
                        </li>
                        <li>
                            <i class='bx bx-brain'></i>
                            point3
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->

<!-- Agency Area -->
<div class="agency-area bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="agency-img">
                    <img src="../static/assets/img/agency.jpg" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="agency-text">
                    <div class="section-title-two">
                        <h2>More information</h2>
                        <p>detailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetailsdetails</p>
                    </div>

                    <div class="agency-btn">
                        <a href="https://www.youtube.com/watch?v=0gv7OC9L2s8" class="popup-youtube">
                            <i class='bx bx-play'></i>
                        </a>
                        <h3>Let’s see our intro video</h3>
                        <p>video by Rachael </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Agency Area -->

<h5 style="text-align:center;color:#5c5c5c">Special thanks for the information and data sources from:</h5>
<!-- Partner Slider Area -->
<div class="partner-area bg-f6f4ff ptb-100">

    <div class="container">
        <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-slider-item">
                <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019?gclid=CjwKCAjwr_uCBhAFEiwAX8YJgTTnX4v_wtGZdTAverows8P_hxnyiw8oSlEqAMgUP7T0FEIXZ68LiRoCfQwQAvD_BwE">
                    <img src="../static/assets/img/partner/who.png" alt="logo">
                </a>
            </div>
            <div class="partner-slider-item">
                <a href="https://www.coronavirus.vic.gov.au/what-do-if-you-have-coronavirus-covid-19">
                    <img src="../static/assets/img/partner/Victoria.png" alt="logo">
                </a>
            </div>

        </div>
    </div>
</div>
<!-- End Partner Slider Area -->


{% include 'footer.html' %}

{% block footer %}
{% endblock %}

<!-- Go Top -->
<div class="go-top">
    <i class='bx bxs-upvote'></i>
</div>
<!-- End Go Top -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Magnific -->
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="../static/assets/js/meanmenu.min.js"></script>
<!-- Nice Select JS -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<!-- Owl Carousel JS -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<!-- Jquery Mixitup JS -->
<script src="../static/assets/js/jquery.mixitup.min.js"></script>
<!-- Jquery Datetimepicker JS -->
<script src="../static/assets/js/jquery.datetimepicker.full.min.js"></script>
<!-- Form Validator JS -->
<script src="../static/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="../static/assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp JS -->
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="../static/assets/js/custom.js"></script>
</body>
</html>
