<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <!-- Boxican Css -->
    <link rel="stylesheet" href="../static/assets/css/boxicons.min.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="../static/assets/css/meanmenu.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="../static/assets/css/nice-select.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="../static/assets/css/animate.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
    <!-- Owl Theme CSS -->
    <link rel="stylesheet" href="../static/assets/css/owl.theme.default.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" href="../static/assets/css/magnific-popup.min.css">
    <!-- Jquery Datetimepicker CSS -->
    <link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.min.css" />
    <!-- Styleshet CSS -->
    <link rel="stylesheet" href="../static/assets/css/style1.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/assets/css/responsive.css">
    <!-- Favican -->
    <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">

    <title>FSquare: COVID-19 rumours impacts on VIC's elders</title>
</head>

<body>
{% include 'nav.html' %}

{% block navi %}
{% endblock %}


<!-- Page Banner Area -->
<div class="page-banner-area bg-2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-content">
                    <h2>Good Hygiene</h2>
                    <ul>
                        <li style="font-size:22px"><a href="/precaution">Precautions</a></li>
                        <li style="font-size:22px">Good Hygiene</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Banner Area -->


<!-- Blog Area -->
<div class="blog-area blog-area-two ptb-100">
    <div class="container">
        <div class="row">
            {% for item in result %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a href="blog-details.html">
                        <!--                                <img src={{item.profileimg}} alt="Shape">-->
                    </a>
                    <div class="b-card-text">
                        <span>{{item.publishdate}} <a href="#"></a></span>
                        <!--                                <span class="t-right"><i class='bx bx-user'></i> 200K</span>-->
                        <h3><a href="blog-details.html">{{item.title}}</a></h3>
                        <pre style="overflow:auto">{{item.body}}</pre>

                        <div class="view-more">
                            <a href="/hygienedetail/{{item.id}}" class="view-more-btn">
                                Read more
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


            <!-- Pagination -->
            <!--                    <div class="col-lg-12 col-md-12">-->
            <!--                        <ul class="pagination">-->
            <!--                            <li class="page-item">-->
            <!--                                <a class="page-link" href="#" aria-label="Previous">-->
            <!--                                    <span aria-hidden="true">&laquo;</span>-->
            <!--                                </a>-->
            <!--                            </li>-->
            <!--                            <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
            <!--                            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
            <!--                            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
            <!--                            <li class="page-item">-->
            <!--                                <a class="page-link" href="#" aria-label="Next">-->
            <!--                                    <span aria-hidden="true">&raquo;</span>-->
            <!--                                </a>-->
            <!--                            </li>-->
            <!--                        </ul>-->
            <!--                    </div>-->
        </div>
    </div>
</div>
<!-- End Blog Area -->

{% include 'footer.html' %}

{% block foot %}
{% endblock %}

<!-- Go Top -->
<div class="go-top">
    <i class='bx bxs-upvote'></i>
</div>
<!-- End Go Top -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Magnific -->
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="../static/assets/js/meanmenu.min.js"></script>
<!-- Nice Select JS -->
<script src="../static/assets/js/jquery.nice-select.min.js"></script>
<!-- Owl Carousel JS -->
<script src="../static/assets/js/owl.carousel.min.js"></script>
<!-- Jquery Mixitup JS -->
<script src="../static/assets/js/jquery.mixitup.min.js"></script>
<!-- Jquery Datetimepicker JS -->
<script src="../static/assets/js/jquery.datetimepicker.full.min.js"></script>
<!-- Form Validator JS -->
<script src="../static/assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="../static/assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp JS -->
<script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="../static/assets/js/custom.js"></script>
</body>
</html>
