<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
        <!-- Boxican Css -->
        <link rel="stylesheet" href="../static/assets/css/boxicons.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="../static/assets/css/meanmenu.min.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="../static/assets/css/nice-select.css">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="../static/assets/css/animate.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="../static/assets/css/owl.carousel.min.css">
        <!-- Owl Theme CSS -->
        <link rel="stylesheet" href="../static/assets/css/owl.theme.default.min.css">
        <!-- Magnific CSS -->
        <link rel="stylesheet" href="../static/assets/css/magnific-popup.min.css">
        <!-- Jquery Datetimepicker CSS -->
        <link rel="stylesheet" href="../static/assets/css/jquery.datetimepicker.min.css" />
        <!-- Styleshet CSS -->
        <link rel="stylesheet" href="../static/assets/css/style1.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="../static/assets/css/responsive.css">
        <!-- Favican -->
        <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">

        <title>FSquare: COVID-19 rumours impacts on VIC's elders</title>

    </head>


    <body>
<!--        &lt;!&ndash; Preloader Area &ndash;&gt;-->
<!--        <div class="preloader">-->
<!--            <div class="container">-->
<!--                <div class="d-table">-->
<!--                    <div class="d-table-cell">-->
<!--                        <div class="preloader loading">-->
<!--                            <span class="slice"></span>-->
<!--                            <span class="slice"></span>-->
<!--                            <span class="slice"></span>-->
<!--                            <span class="slice"></span>-->
<!--                            <span class="slice"></span>-->
<!--                            <span class="slice"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- End Preloader Area -->

<!--        &lt;!&ndash; Heder Area &ndash;&gt;-->
<!--        <header class="header-area">-->
<!--            &lt;!&ndash; Top Header &ndash;&gt;-->
<!--			<div class="top-header">-->
<!--				<div class="container">-->
<!--                    <div class="header-content">-->
<!--                        <div class="row align-items-center">-->
<!--                            <div class="col-md-3">-->
<!--                                <h3> MP24 - Factoids</h3>-->
<!--                            </div>-->

<!--                            <div class="col-md-9">-->
<!--                                <ul class="contact-area">-->

<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="text" class="form-control" id="search"   placeholder="e.g masks, vaccine, etc.">&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="col-lg-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="text-btn">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <button type="submit" class="btn default-btn">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->

<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--				</div>-->
<!--			</div>-->
			<!-- Start Top Header -->

<!--            &lt;!&ndash; Start Navbar Area &ndash;&gt;-->
<!--            <div class="navbar-area">-->
<!--                <div class="main-responsive-nav">-->
<!--                    <div class="container">-->
<!--                        <div class="main-responsive-menu">-->
<!--                            <div class="logo" style="max-height:50px; max-width:50px">-->
<!--                                <a href="index.html">-->
<!--                                    <img src="../static/assets/img/lg.png" alt="image">-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="main-navbar">-->
<!--                    <div class="container">-->
<!--                        <nav class="navbar navbar-expand-md navbar-light">-->
<!--                            <a class="navbar-brand" href="index.html" style="max-height:60px; max-width:60px;">-->
<!--                                <img src="../static/assets/img/lg.png" alt="image" style="width:50px;height:50px;">-->
<!--                            </a>-->

<!--                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">-->
<!--                                <ul class="navbar-nav m-auto">-->
<!--                                    <li class="nav-item">-->
<!--                                        <a href="/" class="nav-link active">-->
<!--                                            Home -->
<!--&lt;!&ndash;                                            <i class='bx bx-chevron-down'></i>&ndash;&gt;-->
<!--                                        </a>-->

<!--                                    </li>-->

<!--                                    <li class="nav-item">-->
<!--                                        <a href="#" class="nav-link">-->
<!--                                            Covid-19 precautions-->
<!--                                            <i class='bx bx-chevron-down'></i>-->
<!--                                        </a>-->

<!--                                        <ul class="dropdown-menu">-->
<!--                                            <li class="nav-item">-->
<!--                                                <a href="team.html" class="nav-link">-->
<!--                                                    Transmission-->
<!--                                                </a>-->
<!--                                            </li>-->

<!--                                            <li class="nav-item">-->
<!--                                                <a href="gallery.html" class="nav-link">-->
<!--                                                    Isolation-->
<!--                                                </a>-->
<!--                                            </li>-->



<!--                                            <li class="nav-item">-->
<!--                                                <a href="#" class="nav-link">-->
<!--                                                    Hyginece-->
<!--&lt;!&ndash;                                                    <i class='bx bx-chevron-down'></i>&ndash;&gt;-->
<!--                                                </a>-->

<!--                                            </li>-->

<!--                                            <li class="nav-item">-->
<!--                                                <a href="/mask" class="nav-link">-->
<!--                                                    Mask-->
<!--                                                </a>-->
<!--                                            </li>-->

<!--                                            <li class="nav-item">-->
<!--                                                <a href="/test" class="nav-link">-->
<!--                                                    Symptoms-->
<!--                                                </a>-->
<!--                                            </li>-->

<!--                                            <li class="nav-item">-->
<!--                                                <a href="error-404.html" class="nav-link">-->
<!--                                                    Travel Restriction-->
<!--                                                </a>-->
<!--                                            </li>-->

<!--                                        </ul>-->
<!--                                    </li>-->

<!--&lt;!&ndash;                                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="#" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                            Vaccine&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class='bx bx-chevron-down'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <ul class="dropdown-menu">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="testimonials.html" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Types&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="testimonials.html" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Eligibility&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="testimonials.html" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Stages&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="testimonials.html" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Adversed reaction&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="testimonials.html" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Current situation in Australia&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="testimonials.html" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Current data&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="testimonials.html" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Vaccination Center&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </li>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a href="testimonials.html" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Mental health services&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </li>&ndash;&gt;-->

<!--&lt;!&ndash;                                        </ul>&ndash;&gt;-->


<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="#" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                            Dashboard&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                                            <i class='bx bx-chevron-down'></i>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->


<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="/" class="nav-link active">&ndash;&gt;-->
<!--&lt;!&ndash;                                            Factoid blog&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class='bx bx-chevron-down'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->

<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a href="#" class="nav-link">&ndash;&gt;-->
<!--&lt;!&ndash;                                            News&ndash;&gt;-->
<!--&lt;!&ndash;                                            <i class='bx bx-chevron-down'></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->

<!--&lt;!&ndash;                                    </li>&ndash;&gt;-->

<!--                                    <li class="nav-item">-->
<!--                                        <a href="#" class="nav-link">-->
<!--                                            About us-->
<!--                                            <i class='bx bx-chevron-down'></i>-->
<!--                                        </a>-->

<!--                         </ul>-->
<!--                            </div>-->
<!--                        </nav>-->


<!--                        </li>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Navbar Area &ndash;&gt;-->
            {% include 'nav.html' %}

            {% block navi %}
            {% endblock %}
        </header>
        <!-- End Heder Area -->

        <!-- Banner Area -->
        <div class="banner-area bg-color ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="banner-text">
                            <h5>About us</h5>
                            <h2>What we do</h2>


                            <ul>
                                <li>
                                    <i class='bx bx-bone'></i>
                                    bulletpoint1
                                </li>
                                <li>
                                    <i class='bx bx-heart'></i>
                                    bulletpoint2
                                </li>
                                <li>
                                    <i class='bx bx-brain'></i>
                                    bulletpoint3
                                </li>
                            </ul>
                            <p>whole lots of word describing our aims: balabalabalabalabalabalabalab
                                alabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabal

                                abalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalab
                                alabalabalabalabalabalabala
                            </p>



                        </div>
                        <div class="about-btn">
                            <a href="#" class="default-btn">
                                Read More <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="banner-img">
                            <div class="shape-1">
                                <img src="../static/assets/img/shapes/shape-1.png" alt="Shape">
                            </div>
                            <div class="shape-2">
                                <img src="../static/assets/img/shapes/shape-2.png" alt="Shape">
                            </div>
                            <div class="image-1">
                                <img src="../static/assets/img/banner/banner-2.jpg" alt="Image">
                            </div>
                            <div class="image-2">
                                <img src="../static/assets/img/banner/banner1.jpg" alt="Image">
                            </div>
                            <div class="image-3">
                                <img src="../static/assets/img/banner/banner3.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner Area -->



        <!-- Appointment Area -->
        <div class="appointment-area bg-color ptb-100">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6">
                        <div class="banner-text">
                            <h5>Fact vs Fiction?</h5>
                            <h2>What sources of info can I trust more?</h2>


<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <i class='bx bx-bone'></i>-->
<!--                                    bulletpoint1-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class='bx bx-heart'></i>-->
<!--                                    bulletpoint2-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <i class='bx bx-brain'></i>-->
<!--                                    bulletpoint3-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                            <p>whole lots of word describing info sources: balabalabalabalabalabalabalab-->
<!--                                alabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabal-->

<!--                                abalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalab-->
<!--                                alabalabalabalabalabalabala-->
<!--                            </p>-->
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/o93pM-b97HI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



                        </div>
                        <div class="about-btn">
                            <a href="#" class="default-btn">
                                Read More <span></span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="appointment-img">
                            <div class="img-one">
                                <img src="../static/assets/img/trust/appointment-3.jpg" alt="Image">
                            </div>
                            <div class="img-two">
                                <img src="../static/assets/img/trust/appointment-3.jpg" alt="Image">
                            </div>
                            <div class="img-three">
                                <img src="../static/assets/img/trust/appointment-2.jpg" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        &lt;!&ndash; End Appointment Area &ndash;&gt;-->

<!--        &lt;!&ndash; Services Area &ndash;&gt;-->
<!--        <div class="services-area pt-100 pb-70">-->
<!--            <div class="container">-->
<!--                <div class="section-title-one">-->
<!--                    <h5>Covid-19 precautions</h5>-->
<!--                    <h2>Discover Covid-19 facts given by the government</h2>-->
<!--                </div>-->

<!--                <div class="row">-->
<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <div class="service-card">-->
<!--                            <i class='bx bx-strikethrough main-icon'></i>-->
<!--                            <h3>What makes this virus dangerous?</h3>-->
<!--                            <p>balabalabalabala</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View More -->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <div class="service-card">-->
<!--                            <i class='bx bx-bulb main-icon'></i>-->
<!--                            <h3>How effective are the vaccines?</h3>-->
<!--                            <p>balabala</p>-->
<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View More -->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <div class="service-card">-->
<!--                            <i class='bx bx-droplet main-icon'></i>-->
<!--                            <h3>Do I need to wear a mask?</h3>-->
<!--                            <p>balabala</p>-->
<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View More -->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <div class="service-card">-->
<!--                            <i class='bx bx-test-tube main-icon'></i>-->
<!--                            <h3>What are the symptoms?</h3>-->
<!--                            <p>balabala</p>-->
<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View More -->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <div class="service-card">-->
<!--                            <i class='bx bx-donate-heart main-icon'></i>-->
<!--                            <h3>where do I go if I have symptoms?</h3>-->
<!--                            <p>balabala</p>-->
<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View More -->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-sm-6">-->
<!--                        <div class="service-card">-->
<!--                            <i class='bx bx-home main-icon'></i>-->
<!--                            <h3>Do I need to stock toliet paper? </h3>-->
<!--                            <p>balabala</p>-->
<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View More -->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <!-- End Services Area -->



<!--        &lt;!&ndash; Blog Area &ndash;&gt;-->
<!--        <div class="blog-area ptb-100">-->
<!--            <div class="container">-->
<!--                <div class="section-title-one">-->
<!--                    <span>COVID News</span>-->
<!--                    <h2>The latest news</h2>-->
<!--                </div>-->

<!--                <div class="blog-slider owl-carousel owl-theme">-->
<!--                    <div class="blog-card">-->
<!--                        <a href="blog-details.html">-->
<!--                            <img src="../static/assets/img/blog/blog-1.jpg" alt="Shape">-->
<!--                        </a>-->
<!--                        <div class="b-card-text">-->
<!--                            <span>September 22 , 2020</span>-->
<!--                            <span class="t-right"><i class='bx bx-user'></i> 200K</span>-->

<!--                            <h3><a href="blog-details.html">You can easily connect to a doctor and make a treatment</a></h3>-->
<!--                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View more-->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="blog-card">-->
<!--                        <a href="blog-details.html">-->
<!--                            <img src="../static/assets/img/blog/blog-2.jpg" alt="Shape">-->
<!--                        </a>-->
<!--                        <div class="b-card-text">-->
<!--                            <span>September 23 , 2020</span>-->
<!--                            <span class="t-right"><i class='bx bx-user'></i> 180K</span>-->

<!--                            <h3><a href="blog-details.html">Lockdowns lead to fewer people seeking medical care</a></h3>-->
<!--                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View more-->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="blog-card">-->
<!--                        <a href="blog-details.html">-->
<!--                            <img src="../static/assets/img/blog/blog-3.jpg" alt="Shape">-->
<!--                        </a>-->
<!--                        <div class="b-card-text">-->
<!--                            <span>September 24 , 2020</span>-->
<!--                            <span class="t-right"><i class='bx bx-user'></i> 170K</span>-->
<!--                            <h3><a href="blog-details.html">Emergency medicine research course for the doctors</a></h3>-->
<!--                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View more-->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="blog-card">-->
<!--                        <a href="blog-details.html">-->
<!--                            <img src="../static/assets/img/blog/blog-4.jpg" alt="Shape">-->
<!--                        </a>-->
<!--                        <div class="b-card-text">-->
<!--                            <span>September 27 , 2020</span>-->
<!--                            <span class="t-right"><i class='bx bx-user'></i> 170K</span>-->

<!--                            <h3><a href="blog-details.html">Emergency medicine research course for the doctors</a></h3>-->
<!--                            <p>We have started a new innovation and that makes to connect all of the doctor to you in a simplest way and it is effective.</p>-->

<!--                            <div class="view-more">-->
<!--                                <a href="#">-->
<!--                                    View more-->
<!--                                    <i class='bx bx-right-arrow-alt'></i>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Blog Area &ndash;&gt;-->
        
<!--        &lt;!&ndash; Footer Area&ndash;&gt;-->
<!--        <footer class="footer-area bg-color pt-100 pb-70">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="footer-widget">-->
<!--                            <h2>Find us</h2>-->
<!--                            <p>Shop 4/21 Chancellors Walk, Clayton VIC 3168</p>-->
<!--                            <ul class="contact">-->
<!--                                <li>-->
<!--                                    <i class='bx bx-location-plus'></i>-->
<!--                                    Somewhere over the rainbow-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="">-->
<!--                                        <i class='bx bx-phone-call'></i>-->
<!--                                        +61 0416824196-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="mailto:info@covax.com">-->
<!--                                        <i class='bx bx-message-dots'></i>-->
<!--                                        web tech support: cche0165@student-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="footer-widget pl-50">-->
<!--                            <h2>Quick links</h2>-->
<!--                            <ul class="widget-list">-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Home-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Covid precautions-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Medical sevices-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Dashboard-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        News-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        About us-->
<!--                                    </a>-->
<!--                                </li>-->

<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="footer-widget">-->
<!--                            <h2>Join our community</h2>-->
<!--                            <ul class="widget-list">-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Contribute to our blogs-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#">-->
<!--                                        Join development team-->
<!--                                    </a>-->
<!--                                </li>-->


<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6">-->
<!--                        <div class="footer-widget pl-50">-->
<!--                            <h2>Meet our team</h2>-->
<!--                            <ul class="widget-time">-->
<!--                                <li>Developers: Chen Chen, Ruoyu Tian</li>-->
<!--                                <li>Data scientist: Yishun Xu</li>-->
<!--                                <li>Business analyst: Rachael Coutinho, Ming Kong</li>-->
<!--                            </ul>-->

<!--                            <ul class="social-link">-->
<!--                                <li>-->
<!--                                    <a href="#" target="_blank">-->
<!--                                        <i class='bx bxl-facebook bg-1'></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#" target="_blank">-->
<!--                                        <i class='bx bxl-twitter bg-2'></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#" target="_blank">-->
<!--                                        <i class='bx bxl-linkedin bg-3'></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="#" target="_blank">-->
<!--                                        <i class='bx bxl-instagram bg-4'></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->
<!--        &lt;!&ndash; End Footer Area &ndash;&gt;-->

<!--        &lt;!&ndash; Footer Bottom Area &ndash;&gt;-->
<!--        <div class="footer-bottom-area">-->
<!--            <div class="container">-->
<!--                <p>Copyright @2021 FSquare. All rights reserved <a href="http://www.bootstrapmb.com/" target="_blank">FSquare</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Footer Bottom Area &ndash;&gt;-->
        {% include 'footer.html' %}

        {% block foot %}
        {% endblock %}
        <!-- Go Top -->
        <div class="go-top">
            <i class='bx bxs-upvote'></i>
        </div>
        <!-- End Go Top -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../static/assets/js/jquery.min.js"></script>
        <script src="../static/assets/js/popper.min.js"></script>
        <script src="../static/assets/js/bootstrap.min.js"></script>
        <!-- Magnific -->
        <script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="../static/assets/js/meanmenu.min.js"></script>
        <!-- Nice Select JS -->
        <script src="../static/assets/js/jquery.nice-select.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="../static/assets/js/owl.carousel.min.js"></script>
        <!-- Jquery Mixitup JS -->
        <script src="../static/assets/js/jquery.mixitup.min.js"></script>
        <!-- Jquery Datetimepicker JS -->
        <script src="../static/assets/js/jquery.datetimepicker.full.min.js"></script>
        <!-- Form Validator JS -->
        <script src="../static/assets/js/form-validator.min.js"></script>
        <!-- Contact JS -->
        <script src="../static/assets/js/contact-form-script.js"></script>
        <!-- Ajaxchimp JS -->
        <script src="../static/assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Custom JS -->
        <script src="../static/assets/js/custom.js"></script>
    </body>
</html>
