<!-- Preloader Area -->
<div class="preloader">
    <div class="container">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="preloader loading">
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                    <span class="slice"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Preloader Area -->
<!-- Heder Area -->
<header class="header-area">


    <!-- Top Header -->
    <div style="color:#E1F3FF" class="top-header">
        <div  class="container">
            <div class="header-content">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <h4 style = "white-space: nowrap">Factoids: COVID-19 fact check for Victorian seniors</h4>
                    </div>

                    <div class="col-md-9">
                        <ul class="contact-area">

                            <!--                                    <li>-->
                            <!--                                        <input type="text" class="form-control" id="search"   placeholder="e.g masks, vaccine, etc.">-->
                            <!--                                    </li>-->
                            <!--                                    <li>-->
                            <!--                                        <div class="col-lg-3">-->
                            <!--                                            <div class="text-btn">-->
                            <!--                                                <button type="submit" class="btn default-btn">Search</button>-->
                            <!--                                            </div>-->
                            <!--                                        </div>-->
                            <!--                                    </li>-->

                            <!--                                    </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Top Header -->

    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="main-responsive-nav">
            <div class="container">
                <div class="main-responsive-menu">
                    <div class="logo" style="max-height:50px; max-width:50px">
                        <a href="/">
                            <img src="../static/assets/img/lg.png" alt="image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-navbar">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="/" style="max-height:60px; max-width:60px;">
                        <img src="../static/assets/img/lg.png" alt="image" style="width:50px;height:50px;">
                    </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="/" class="nav-link active" style="font-size:22px">
                                    Home
                                    <!--                                            <i class='bx bx-chevron-down'></i>-->
                                </a>

                            </li>
                            <li class="nav-item">
                                <a href="/" class="nav-link active" style="font-size:22px">
                                    Tips
                                                                                <i class='bx bx-chevron-down'></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="/good_hygiene" class="nav-link" style="font-size:20px">
                                            Hygiene
                                            <!--                                                    <i class='bx bx-chevron-down'></i>-->
                                        </a>

                                    </li>

                                </ul>


                            </li>

                            <li class="nav-item">
                                <a href="/precaution" class="nav-link" style="font-size:22px">
                                    precautions
                                    <i class='bx bx-chevron-down'></i>
                                </a>

                                <ul class="dropdown-menu">

                                    <li class="nav-item">
                                        <a href="/transmission" class="nav-link" style="font-size:20px">
                                            Transmission
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/isolation" class="nav-link" style="font-size:20px">
                                            Isolation
                                        </a>
                                    </li>





                                    <li class="nav-item">
                                        <a href="/mask" class="nav-link" style="font-size:20px">
                                            Mask
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/symptom" class="nav-link" style="font-size:20px">
                                            Symptoms
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="/travel_restriction" class="nav-link" style="font-size:20px">
                                            Travel Restriction
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <!--                                    <li class="nav-item">-->
                            <!--                                        <a href="#" class="nav-link">-->
                            <!--                                            Vaccine-->
                            <!--                                            <i class='bx bx-chevron-down'></i>-->
                            <!--                                        </a>-->
                            <!--                                        <ul class="dropdown-menu">-->
                            <!--                                            <li class="nav-item">-->
                            <!--                                                <a href="testimonials.html" class="nav-link">-->
                            <!--                                                    Types-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            <li class="nav-item">-->
                            <!--                                                <a href="testimonials.html" class="nav-link">-->
                            <!--                                                    Eligibility-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            <li class="nav-item">-->
                            <!--                                                <a href="testimonials.html" class="nav-link">-->
                            <!--                                                    Stages-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            <li class="nav-item">-->
                            <!--                                                <a href="testimonials.html" class="nav-link">-->
                            <!--                                                    Adversed reaction-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            <li class="nav-item">-->
                            <!--                                                <a href="testimonials.html" class="nav-link">-->
                            <!--                                                    Current situation in Australia-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            <li class="nav-item">-->
                            <!--                                                <a href="testimonials.html" class="nav-link">-->
                            <!--                                                    Current data-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            <li class="nav-item">-->
                            <!--                                                <a href="testimonials.html" class="nav-link">-->
                            <!--                                                    Vaccination Center-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->
                            <!--                                            <li class="nav-item">-->
                            <!--                                                <a href="testimonials.html" class="nav-link">-->
                            <!--                                                    Mental health services-->
                            <!--                                                </a>-->
                            <!--                                            </li>-->

                            <!--                                        </ul>-->


                            <!--                                    </li>-->

                            <!--                                    <li class="nav-item">-->
                            <!--                                        <a href="#" class="nav-link">-->
                            <!--                                            Dashboard-->
                            <!--&lt;!&ndash;                                            <i class='bx bx-chevron-down'></i>&ndash;&gt;-->
                            <!--                                        </a>-->


                            <!--                                    </li>-->

                            <!--                                    <li class="nav-item">-->
                            <!--                                        <a href="/" class="nav-link active">-->
                            <!--                                            Factoid blog-->
                            <!--                                            <i class='bx bx-chevron-down'></i>-->
                            <!--                                        </a>-->

                            <!--                                    </li>-->

                            <!--                                    <li class="nav-item">-->
                            <!--                                        <a href="#" class="nav-link">-->
                            <!--                                            News-->
                            <!--                                            <i class='bx bx-chevron-down'></i>-->
                            <!--                                        </a>-->

                            <!--                                    </li>-->

                            <li class="nav-item">
                                <a href="about" class="nav-link" style="font-size:22px">
                                    About
                                </a>

                        </ul>
                    </div>
                </nav>


                </li>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>